<div class="container-fluid p-4">
    <div class="title text-center m-4 p-4"><h1>Siembras</h1></div>
    <div class="row ">
        {{#each rg_siembra}}
            <div class="flex-column d-flex m-1 flex-md-row align-items-center justify-content-center">
                <div class="container text-center row">
                    <table class="table row">
                        <thead class="flex-column">
                            <tr>
                            <th scope="col row">Nombre producto</th>
                            <th scope="col row">Cantidad promesa</th>
                            <th scope="col row">Cantidad donada</th>
                            <th scope="col row">Genero del producto</th>
                            <th scope="col row">Nombre sembrador</th>
                            <th scope="col row">Telefono</th>
                            <th scope="col row">Nombre receptor</th>
                            <th scope="col row">Fecha</th>
                            </tr>
                        </thead>
                        <tbody class="flex-column">
                            <tr>
                            <td scope="row">{{nom_productoSi}}</td>
                            <td scope="row"scope="row">{{cantidad_promesa}} {{descripcion_cant_p}}</td>
                            <td scope="row">{{cantidad_donar}} {{descripcion_cant_d}}</td>
                            <td scope="row">{{genero_producto}}</td>
                            <td scope="row">{{nombresSi}} {{a_paterno}} {{a_materno}}</td>
                            <td scope="row">{{num_tel}}</td>
                            <td scope="row">{{nom_recibe}}</td>
                            <td id="fecha" class="fecha" scope="row">{{{fecha_recibe}}}</td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        {{/each}}
    </div>
</div>